* {
  margin: 0;
  box-sizing: border-box;
}

/* ––––––––––––––––––––––––––– */

button {
  width: 80px;
  text-decoration: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: #138B8A;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 11pt;
  /* line-height: 12pt; */
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
  text-decoration: none;
}

.button-diet {
  background-color: lavender;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* a {
  color: #138B8A;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 9pt;
  line-height: 12pt;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
} */

a:hover,
a:active {
  color: orange;
}

/* ––––––––––––––––––––––––––– */

.container {
  /* background-color: lightskyblue; */
  width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 125px solid white;
  margin-bottom: 40px;
}

.container-intro {
  background-color: white;
  width: 100vw;
  height: 80vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-choose-diet {
  background-color: white;
  width: 100vw;;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  /* background-color: gray;   */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-choose-ingredient {
  background-color: white;
  width: 100vw;
  padding: 20px;
}

.round-ingredient {
  background-color: plum;  
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.container-yum {
  background-color: white;
  width: 100vw;
  padding: 20px;
  /* display: none; */
}

.pairing-ingredient {
  background-color: lightgoldenrodyellow;
  height: 20px;
  margin-bottom: 3px;
}

img {
  width: 350px;
  padding-top: 50px;
}