* {
  margin: 0;
  box-sizing: border-box;
}

/* –––––––––––––––– */

img {
  max-width: 400px;
}

/* typography –––––––––––––––– */

h2 {
  color: #fffcdf;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 21pt;
  padding-bottom: 20px;
}

h3 {
  color: #299351;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 13pt;
  margin-bottom: 10px;
  padding-bottom: 5px;
  max-width: 400px;
}

p {
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  max-width: 400px;
  margin: 0px 20px 0px 20px;
}

i {
  color: #f36543;
  font-size: 27px;
}

/* buttons –––––––––––––––– */

.button-round {
  background-color: #fffcdf;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

a {
  color: #f9421e;
  text-decoration: none;
  outline: none;
}

a.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover,
a:active {
  color: black;
  text-decoration: underline;
}

a:focus {
  color: #299351;
  text-decoration: underline;
}

button {
  color: #f9421e;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 11pt;
  border: none;
  background: transparent;
}

button:hover,
button:active,
button:focus {
  background-color: transparent;
  text-decoration: underline;
  outline: none;
  transition: background-color 200ms ease-in-out;
  color: black;
  text-decoration: underline;
}

/* ––––––––––––––––––––––––––– */

.container {
  max-width: 640px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-intro {
  background-color: #fffcdf;
  min-height: 672px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-section {
  background-color: #fffcdf;
  width: 100%;
  padding-top: 50px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 320px solid transparent;
  border-right: 320px solid transparent;
  border-top: 125px solid #fffcdf;
  margin-bottom: 5px;
  /* box-shadow: 0 10px 6px -6px #777; */
}

.button-container {
  /* background-color: gray; */
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Media queries –––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 450px) {
  img {
    max-width: 300px;
  }

  h3 {
    max-width: 300px;
  }

  p {
    max-width: 300px;
  }

  a.circle {
    width: 85px;
    height: 85px;
  }

  .button-container {
    max-width: 370px;
  }

  .container-intro {
    padding-top: 15px;
    min-height: 300px;
  }

  .button-round {
    height: 85px;
    width: 85px;
    margin: 3px;
  }
}
