* {
  margin: 0;
  box-sizing: border-box;
}

/* ––––––––––––––––––––––––––– */

button {
  cursor: pointer;
  color: #138b8a;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 11pt;
  background-color: transparent;
  border: none;
}

.button-round {
  background-color: orange;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

button:hover {
  color: dodgerblue;
  border-color: currentColor;
  background-color: white;
}

button:active {
  transform: translateY(5px);
  filter: saturate(150%);
  text-decoration-line: underline;
  background-color: white;
}

button:focus {
  outline: purple;
  text-decoration-line: underline;
  background-color: white;
}

a:hover {
  color: dodgerblue;
  border-color: currentColor;
  background-color: white;
}

a:active {
  transform: translateY(5px);
  filter: saturate(150%);
  text-decoration-line: underline;
  background-color: white;
}

a:focus {
  outline: purple;
  text-decoration-line: underline;
  background-color: white;
}

/* ––––––––––––––––––––––––––– */

.container {
  /* background-color: lightskyblue; */
  max-width: 640px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-intro {
  background-color: white;
  width: 100%;
  /* height: 80vh; */
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container-section {
  background-color: white;
  /* height: 600px; */
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.footer {
  background-color: greenyellow;
  /* height: 600px; */
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .triangle-down {
  background-color: yellow;
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.triangle-down:after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: pink;
  transform: rotate(45deg);
  top: -1000px;
  left: -700px;
  box-shadow: 0px 2px 8px 0px #777; */

.triangle-down {
  width: 0;
  height: 0;
  border-left: 320px solid transparent;
  border-right: 320px solid transparent;
  border-top: 15vh solid white;
  margin-bottom: 40px;
  z-index: -100;
  box-shadow: 0 10px 6px -6px #777;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 40vw solid transparent;
  border-right: 40vw solid transparent;
  border-bottom: 15vh solid white;
  z-index: -100;
}

.button-container {
  /* background-color: gray; */
  width: 70%;
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}

.round-ingredient {
  background-color: plum;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.pairing-ingredient {
  background-color: lightgoldenrodyellow;
  height: 20px;
  margin-bottom: 3px;
}

img {
  width: 350px;
  padding-top: 50px;
}
